html,
body {
    min-width: 960px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;        
}

body {          /*in order to be able to put bg to another pages*/
    background: #000000 url("../img/bg-index.jpg") no-repeat center top;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;    
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 55px;
    
    color: #ffffff;
    
    background-color: #000000;
}

.main-navigation {
    width: 780px;
    
    float: left;
    margin-right: 20px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    
    font-size: 0;
    list-style: none;
}

.main-navigation li {
    position: relative;
    
    display: inline-block;
        
    font-size: 16px;
    line-height: 20px;
    
    vertical-align: top;
}

.main-navigation li.header-logo {
    width: 151px;
    height: 70px;
}

.main-navigation li.header-logo:hover { /*for bg lofo in header*/
    background: #242424;
    
    transition: background 0.3s;
}

.active::after {
    content: "";
    position: absolute;    
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 4px;
    background-color: #ffffff;
}

.main-navigation a {
    display: block;
    
    padding: 25px 20px;
    
    color: #ffffff;
    text-decoration: none;    
}

.header-logo img  {
    position: absolute;
    
    width: 111px;
    height: 24px;  
}

.main-navigation a:hover {
    background: #242424;
    
    transition: background 0.5s;
}

.user-block {
    float: right;    
    max-width: 140px;
}

.login {
    position: relative;
    
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #ffffff;
        
    text-decoration: none;    
}

.login:hover {
    background: #242424;
    
    transition: background 0.5s;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    
    width: 18px;
    height: 16px;
    
    background: url("../img/sprite3.png") no-repeat -20px -154px;
    
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
    
    transition: opacity 0.5s;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;    
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    
    text-align: center;
}

.features-name {
    position: relative;
    
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    
    font-size: 30px;
    line-height: 42px;
}

.features-name::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: 50%;
    
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    
    background: #ffffff;
    
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    
    color: #000000;
    
    background: 
        url("../img/bg_index-content.png") no-repeat center,
        #f7f4f1 url(../img/bg_content-box.png);    
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    
    list-style: none;    
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    font-weight: 400;
    text-transform: none;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;    
}

.btn:hover,
.btn:active {
    background: #663d15;
    
    transition: background 0.5s;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background: #000000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    margin: 0;
    height: 164px;
    
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {    
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arrial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f9f6f3;    
    border: 2px solid #000000;    
    outline: none;    
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    
    color: #ffffff;
    
    background: #232323 url("../img/bg_footer.png");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;    
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    
    background: #000000 url("../img/sprite3.png") no-repeat;
        
    transition:
        background-position 0.5s,
        background-color 0.5s;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: -11px 13px;
}

.social-btn-vk:hover {
    background-position: -11px -23px;
}

.social-btn-fb {
    background-position: -4px -180px;
}

.social-btn-fb:hover {
    background-position: -4px -222px;
}

.social-btn-inst {
    background-position: -9px -62px;
}

.social-btn-inst:hover {
    background-position: -9px -103px;
}

.footer-copyrights {
    float: right;
    max-width: 180px;
}

.footer-copyrights p {
    margin: 0;
    margin-bottom: 15px;
    
    text-align: center;
}

.footer-copyrights .btn {
    margin-right: 0;
}

.footer-copyrights .btn:hover {
    color: #000000;
    
    background-color: #ffffff;
    
    transition:
        background-color 0.5s;
}






/*ITEM_PAGE*/



.item_page,
.price_page,
.shop_page {    
    color: #000000;
    
    background: #f8f5f2 url("../img/bg_content-box.png");
}

.page-title {    
    margin: 0;
    margin-bottom: 20px;
    
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    position: relative;
    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    
    font-size: 0;
    
    list-style: none;
}

.breadcrumbs li,
.breadcrumbs span {
    display: inline-block;
    
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
}

.breadcrumbs a,
.breadcrumbs span {
    display: block;
    margin-right: 18px;
    
    color: #000000;
    
    text-decoration: none;
}

.breadcrumbs li:nth-child(2n) {
    position: relative;
    top: 8px;   
    
    width: 8px;
    height: 8px;
    margin-right: 18px;
    
    background-color: #000000;
    
    transform: rotate(45deg);
}

.breadcrumbs span {
    color: #aba9a7;
}

.item-content .item-content-left {
    width: 486px;
}

.item-gallery-content  {
    margin: 0;
    margin-left: -13px;
    padding: 0;
}

.item-img-main {    
    width: 486px;
    height: 524px;
}

.item-gallery-content ul {
    margin: 0;
    margin-top: -13px;
    padding:0;

    list-style: none;
}

.item-gallery-content li {
    display: inline-block;
    margin-right: -9px;
}

.item_page .item-content-right {
    width: 390px;
}

.availability {
    display: block;
    float: left;
    margin: 33px 0;
    
    font-size: 14px;
    line-height: 20px;     
}

.article {
    display: block;
    float: right;
    margin: 33px 0;
    margin-right: 10px;
    
    font-size: 14px;
    line-height: 20px;
    color: #aeaeae;
}

.item-content-description p {
    margin: 0;
    margin-bottom: 40px;
}

.item-content-price {
    font-size: 0;
}

.item-content-price p {
    display: inline-block;
    padding: 10px 25px;
    margin: 0;
    margin-bottom: 55px;
    
    font-size: 14px;
    line-height: 24px;
    
    background-color: #e5e5e5;
}

.include h1 {
    margin: 0;
    margin-bottom: 30px;
    
    font-size: 24px;
    line-height: 32px;
}

.include ul {
    position: relative;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.include li::before {
    content: "";
    
    display: inline-block;
    width:8px;
    height: 8px;
    
    margin-right: 10px;
    margin-left: 3px;
    
    background-color: #000000;
    
    transform: rotate(45deg);
}

.item_page .main-footer {
    margin-top: 30px;    
}

.item-content-left {
    float: left;
    width: 470px;
}

.item-content-right {
    float: right;
    width: 400px;
}






/*PRICE_PAGE*/



.promo-name-line,
.promo-name-line2 {
    float: left;
    width: 160px;
    height: 2px;
    margin-top: 31px;
    margin-right: 25px;
    
    background-color: #000000;
}

.promo-name-line2 {
    float: right;
    margin-right: 0;
}

.promo-name {
    display: block;
    float: left;
    width: 569px;
    margin-bottom: 60px;
    
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.main-content-left {
    float: left;
    width: 385px;
}

.main-content-left p,
.main-content-right p {
    margin: 0;
}

.promo-name2 {
    margin: 0;
    margin-bottom: 30px;
    
    font-size: 24px;
    line-height: 32px;
}

.price_page .include {
    margin-bottom: 60px;
}

.price_page .include li {
    margin-bottom: 17px;
}

.main-content-right {
    float: right;
    width: 460px;
}

.price-list caption {
    text-align: left;
    margin-bottom: 30px;
}

.price-list {
    width: 460px;
    margin-bottom: 125px;
    
    border-collapse: collapse;
}

.price-list td {
    padding: 10px 17px;
    
    border: 2px solid black;    
}

.price-list td:nth-child(2n) {
    text-align: center;
}

.promo p {
    padding-right: 80px;
}






/*SHOP_PAGE*/



.shop_page .breadcrumbs {
    margin-bottom: 50px;
}

.sidebar {
    position: relative;
    float: left;
    width: 220px;
}

fieldset {
    margin: 0;    
    padding: 0;
    border: none;
}

.manufacturers {
    margin-bottom: 30px;
}

.manufacturers-list,
.groups-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.manufacturers legend,
.groups legend {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
}

.manufacturers-list li,
.groups-list li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    
    list-style: none;
}



/*checkbox*/

.checkbox,
.radio {
    display: none;
}

.checkbox-custom,
.radio-custom {
    position: relative;
    
    width: 16px;
    height: 16px;
    
    background: #f9f6f3;
        
    border: 2px solid #000000;
}

.label {
    padding-left: 20px; 
}

.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    
    vertical-align: middle;
    margin-bottom: 3px;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    
    display: block;
    width: 2px;
    height: 16px;
    
    background: #000000;
}

.checkbox:checked + .checkbox-custom::after {
    content: "";
    
    position: absolute;
    top: 7px;
    
    display: block;
    width: 16px;
    height: 2px;
    
    background: #000000;
}

.checkbox:checked + .checkbox-custom::before,
.checkbox:checked + .checkbox-custom::after {
    transform: rotate(45deg);
}

.manufacturers label span,
.groups label span {
    cursor: pointer;
}

.manufacturers label:hover,
.groups label:hover {
    color: #663d15;
    transition: color 0.5s;
}



/*radio*/

.radio-custom {
    border-radius: 10px;
}

.radio:checked + .radio-custom::before {
    content: "";
    
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    
    background: #000000;
    border-radius: 10px;
}

.groups-list .btn {
    margin-top: 50px;
}



/*disabled*/

.checkbox:disabled + span + .label,
.radio:disabled + span + .label {
    color: #aeacaa;
    cursor: default;
}

.checkbox:disabled + span,
.radio:disabled + span {
    cursor: default;
    opacity: 0.3;
}



/*goods*/

.goods {
    float: right;
    width: 720px;
    margin-bottom: 30px;    
}

.goods-list {
    margin: 0;
    padding: 0;
    
    list-style: none;    
}


.goods-list li {
    float: left;
    width: 246px;
    height: 312px;
    margin-left: -6px;
    margin-top: -5px;
    
    background: url("../img/shop_frame-item.png") no-repeat 0 0;
}

.goods-list li:last-child {
    margin-bottom: 30px;
}

.goods-list img {
    padding-top: 13px;
    padding-left: 13px
}

.goods-name {
    margin: 5px 30px 10px;
}

.goods-name a {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.goods-name span:first-child {
    display: block;
    text-transform: none;
}

.shop_page .item-content-price p {
    width: 109px;
    height: 21px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-left: 29px;
    
    text-align: center;
    vertical-align: middle;
    
}

.shop_page .item-content-price .btn {
    width: 78px;
    height: 21px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 12px;
}


/*paginator*/

.paginator {
    clear: both;
    width: 220px;
    height: 43px;
    margin: 0;
    margin-left: 7px;
    
    font-size: 0;
}

.paginator a {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 7px;
    font-size: 14px;
    line-height: 43px;
    
    text-align: center;
    
    text-decoration: none;
    color: #ffffff;
    background: #000000;
}

.paginator .current {
    color: #000000;
    background: #ffffff;
    cursor: default;
}

.paginator a:hover {
    background: #663d15;
    transition: background-color 0.5s;
}

.paginator .current:hover {
    background: #ffffff;
}